
obj/balderich-cs.csproj.nuget.dgspec.json
obj/balderich-cs.csproj.nuget.g.props
obj/balderich-cs.csproj.nuget.g.targets
*.v2
*.vsidx
*.lock
.vs/balderich-cs/v17/.suo
*.bin
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/balderich-cs.AssemblyInfo.cs
obj/Debug/net7.0/balderich-cs.assets.cache
obj/Debug/net7.0/balderich-cs.csproj.AssemblyReference.cache
obj/Debug/net7.0/balderich-cs.GlobalUsings.g.cs
obj/Debug/net7.0/balderich-cs.AssemblyInfoInputs.cache
obj/Debug/net7.0/balderich-cs.GeneratedMSBuildEditorConfig.editorconfig
obj/project.nuget.cache
obj/project.assets.json
